<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1 style="color:rgb(255, 115, 0);text-align:justify;">{{title}}</h1>



<div class="container">
    <h4>Angular - Crude Operation</h4>
    <form>
        <div class ="form-group">
            <label for="Name">Name</label> <br>
            <input type="text" name="Name" class="form-control">
        </div>
        <pre></pre>
        <div class ="form-group">
            <label for="Designation">Designation</label> <br>
            <input type="text" name="Manager" class="form-control">
        </div>
        <pre></pre>
        <div class ="form-group">
            <label for="Salary">Salary</label> <br>
            <input type="text" name="Salary" class="form-control"> 
        </div>
        <pre></pre>
       
        <button type="btn btn-primary" type="Reset">Reset</button> 
        <button type="btn btn-primary" type="Save">Save</button> 
       
    </form>
</div>

  
